<nz-layout dir="rtl" class="app-layout scrollable-div">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="lg"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    dir="rtl"
    >
    <div class="sidebar-logo">
      <!-- <a href="https://ng.ant.design/" target="_blank"> -->
          <img src="assets/قران.webp" alt="logo">
          <h1 class=" tracking-wide "> مقرأتــــي </h1>
      <!-- </a> -->
    </div>
    <ul dir="rtl" nzSelectable="true" class="sidebar_menu" nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" style="row-gap: 30px;">
      <li dir="rtl" style="text-align: right;align-items: center;display: flex;padding-right: 24px;"  nz-menu-item [routerLink]="'/add-student'" [nzSelected]="routeActive == '/add-student'">
        <span style="font-size: 25px;" nz-icon nzType="user-add" nzTheme="outline"></span>
        <span style="margin-inline-start: 10px;font-size: 20px;">اضافة طالب</span>
      </li>
      <li dir="rtl" style="text-align: right;align-items: center;display: flex;padding-right: 24px;"  nz-menu-item [routerLink]="'/registerd'" [nzSelected]="routeActive == '/registerd'|| routeActive == '/'">
        <span style="font-size: 25px;" nz-icon nzType="usergroup-add" nzTheme="outline"></span>
        <span style="margin-inline-start: 10px;font-size: 20px;">الطلاب المسجلين </span>
      </li>
      <li dir="rtl" style="text-align: right;align-items: center;display: flex;padding-right: 24px;"  nz-menu-item [routerLink]="'/payments'" [nzSelected]="routeActive == '/payments'">
        <span style="font-size: 25px;" nz-icon nzType="dollar" nzTheme="outline"></span>
        <span style="margin-inline-start: 10px;font-size: 20px;">اليومية بالمقرأة </span>
      </li>
      <li dir="rtl" style="text-align: right;align-items: center;display: flex;padding-right: 24px;"  nz-menu-item [routerLink]="'/attendance'" [nzSelected]="routeActive == '/attendance'">
        <span nz-icon style="font-size: 25px;" nzType="audit" nzTheme="outline"></span>
        <span style="margin-inline-start: 10px;font-size: 20px;"> الحضور بالمقرأة</span>
      </li>
      <li dir="rtl" style="text-align: right;align-items: center;display: flex;padding-right: 24px;"  nz-menu-item [routerLink]="'/student-subscription'" [nzSelected]="routeActive == '/student-subscription'">
        <span style="font-size: 25px;" nz-icon nzType="dollar" nzTheme="outline"></span>
        <span style="margin-inline-start: 10px;font-size: 20px;">الاشتراكات بالمقرأة </span>
      </li>
      <li dir="rtl" style="text-align: right;align-items: center;display: flex;padding-right: 24px;"  nz-menu-item [routerLink]="'/reports'" [nzSelected]="routeActive == '/reports'">
        <span style="font-size: 25px;" nz-icon nzType="pie-chart" nzTheme="outline"></span>
        <span style="margin-inline-start: 10px;font-size: 20px;">التقارير بالمقرأة </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout [ngStyle]="{'margin-right':isCollapsed?'75px':'250px'}">
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="!isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>

      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
